@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin:134px;
}

img{
    display: inline-block;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }
  /* HEADER */
.site-header{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    padding-top: 5px;
    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1)
}

.site-container{
   display: flex;
}

.logo{
   margin: 0;
   padding: 20px 0;
}

.logo-img{
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
}

 /* NAV */
.sitenav{
    display: flex;
    align-items: center;
    margin-left:auto;
}

.sitenav-list{
    display: flex;
    list-style: none;
    padding: 8px 16px;
}

.sitenav-link{
    display: inline-block;
    padding: 13px 16px;
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    border-bottom: 3px solid transparent;
}

.sitenav-link:hover {
    border-bottom: 3px solid #000;
    color: #494949;
}

.sitenav-link:active{
    background-color: #191919;
    color: #fff;

}

.sitenav-btn{
    display: inline-block;
    padding: 13px 16px;
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    border: 3px solid #00fc;
    background-color: rgb(0, 47, 255);
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}

.sitenav-icon{
    vertical-align: middle;
    margin-right: 5px;
}

.sitenav-btn:hover{
    background-color:#00bc;
}

.sitenav-btn:active{
    background-color: #fff;
    border: 3px solid #00fc;
    color:#00bc ;
}


